body {
  font-family: Arial;
  text-align: center;
  background-color: rgb(250, 144, 5);
}

.container {
  width: 90%;
  max-width: 500px;
  margin: auto;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: 20px auto;
  padding: 10px 12px;
  background: white;
  border-radius: 6px;
}

li button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

li button:hover {
  transform: scale(2, 2);
}

.completed {
  text-decoration: line-through;
  color: gray;
}
h2 {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

#taskInput {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
  font-size: 15px;
}
#addBtn {
  height: 30px;
  background-color: orangered;
}
