body {
  font-family: Arial;
  text-align: center;
  background-color: rgb(250, 144, 5);
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}
li {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin: 12px auto;
  padding: 14px 18px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
}
li span {
  flex: 1;
  text-align: left;
}

li button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

li button:hover {
  transform: scale(2, 2);
}

.completed {
  text-decoration: line-through;
  color: gray;
}
h2 {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

#taskInput {
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid black;
  height: 30px;
  font-size: 15px;
}
#addBtn {
  height: 30px;
  background-color: orangered;
}

@media (max-width: 480px) {
  h2 {
    font-size: 22px;
  }

  #taskInput {
    width: 100%;
  }

  li button {
    padding: 8px 12px;
  }
}
